{
  "extends": ["react-app"],
  "plugins": ["eslint-plugin-custom-rules"],
  "rules": {
    "arrow-parens": "error",
    "default-case": "error",
    "custom-rules/no-distinct-from-local-styled": ["error", {
      "styledFileName": "styled",
      "namespaceName": "StyledComponents"
    }]
  }
}
